.chart-container {
    padding: 0.8rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    flex: 4;
    border-radius: 5px;
}

.chart-title {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(177, 177, 177);
    margin-bottom: 1rem;
}

.cart-grid {
    stroke: rgb(148, 245, 213);
}