.chart-container {
    padding: 0.8rem;
    flex: 4;
    border-radius: 5px;
}

.chart-title {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(177, 177, 177);
    margin-bottom: 1rem;
}

.cart-grid {
    stroke: rgb(148, 245, 213);
}