.detailed-container {
    padding: 0.8rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    flex: 2;
    border-radius: 5px;
}

.detailed-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(177, 177, 177);
}

.detailed-top .title {
    font-size: 1rem;
}

.detailed-bottom {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.detailed-bottom .featured-chart {
    width: 100px;
}

.detail-bottom-title {
    font-size: 0.95rem;
    font-weight: 600;
    color: rgb(177, 177, 177);
}

.detail-bottom-amount {
    font-size: 1.3rem;
    color: var(--text-primary-100)
}

.detail-bottom-description {
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
    text-align: center;
}

.detailed-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detailed-info .item {
    text-align: center;
}

.detailed-info .item-title {
    color: rgb(177, 177, 177);
    margin-bottom: 0.5rem;
}

.detailed-info .item-result {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
}

.detailedinfo .pos {
    color: rgba(39, 252, 32, 0.955);
}

.detailed-info .neg {
    color: rgba(252, 32, 32, 0.955);
}