.home-content {
    display: flex;
    flex-wrap: wrap;
}

.home-container {
    flex: 6;
}

.widgets-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.2rem;

}

.charts-section {
    padding: 0.6rem 1.2rem;
    display: flex;
    gap: 1rem;
}

.list-section {
    margin: 1.1rem;
    padding: 0.6rem 1.2rem;
}

.list-title {
    font-weight: 600;
    color: rgb(177, 177, 177);
    margin-bottom: 1rem;
}

@media only screen and (max-width: 640px) {
    .home-content {
        flex: 1;
    }
}